{% extends 'pages/base.html' %}
{% load static %}


{%block content%}
{% include 'pages/navbar.html' %}
<!-- Course Select Start -->
<div class="container-fluid bg-registration py-5">
    <div class="container py-5">
        <div class="mb-4">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Find Your Course</h5>
            <h3 class="text-white">Revisit key skills or acquire new ones</h3>
        </div>
        <div>
            <style>
                .form-inline {
                    display: flex;
                    align-items: center;
                }
                .form-group {
                    margin-right: 5px;
                }
            </style>
            <form class="form-inline">
                <div class="form-group">
                    <select class="custom-select border-0 px-4" style="height: 47px;">
                        <option selected>Topics</option>
                        <option value="1">Topic 1</option>
                        <option value="2">Topic 2</option>
                        <option value="3">Topic 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="custom-select border-0 px-4" style="height: 47px;">
                        <option selected>Formats</option>
                        <option value="1">Format 1</option>
                        <option value="2">Format 2</option>
                        <option value="3">Format 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="custom-select border-0 px-4" style="height: 47px;">
                        <option selected>Dates</option>
                        <option value="1">Format 1</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-dark btn-block border-0 py-3" type="submit" style="height: 47px; padding: auto;" >Find Program</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="padding-top: 1px;">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="rounded overflow-hidden mb-2">
                <img class="img-fluid" src="{% static 'img/course-1.jpg' %}" alt="">
                <div class="bg-secondary p-4">
                    <div class="d-flex justify-content-between">
                        <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Data Analytics</a>
                        <h5 class="m-0">$39</h5>
                    </div>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex justify-content-between">
                            <a class="h6" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';"><smal>More...</smal> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="rounded overflow-hidden mb-2">
                <img class="img-fluid" src="{% static 'img/course-2.jpg' %}" alt="">
                <div class="bg-secondary p-4">
                    <div class="d-flex justify-content-between">
                        <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Data Science</a>
                        <h5 class="m-0">$45</h5>
                    </div>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex justify-content-between">
                            <a class="h6" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';"><smal>More...</smal> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="rounded overflow-hidden mb-2">
                <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">
                <div class="bg-secondary p-4">
                    <div class="d-flex justify-content-between">
                        <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">AI</a>
                        <h5 class="m-0">$49</h5>
                    </div>
                    <div class="border-top mt-4 pt-4">
                        <div class="d-flex justify-content-between">
                            <a class="h6" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';"><smal>More...</smal> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course Select End -->

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                        <h1>Innovative Way To Learn | Kusimba</h1>
                    </div>
                    <p>Welcome to Kusimba, your premier destination for transformative and accessible e-learning experiences in Africa. At Kusimba, we believe in the power of education to unlock limitless opportunities and reshape the future. Our platform is meticulously crafted to provide quality courses, coding programs, and software development training, catering to diverse learners across the continent.</p>
                    <a href="about.html" class="btn btn-primary" style="color: black; background-color: white; border-color: #82c227;" onmouseover="this.style.backgroundColor='#82c227'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='black';" >Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Category Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subjects</h5>
                <h1>Explore Top Subjects</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="webDesign.html">
                            <h4 class="text-white font-weight-medium">Web Design</h4>
                            <span>100 Courses</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/cat-2.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="development.html">
                            <h4 class="text-white font-weight-medium">Development</h4>
                            <span>100 Courses</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/cat-3.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="gameDesign.html">
                            <h4 class="text-white font-weight-medium">Game Design</h4>
                            <span>100 Courses</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/cat-4.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="appDesign.html">
                            <h4 class="text-white font-weight-medium">Apps Design</h4>
                            <span>100 Courses</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/cat-5.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="/marketing.html">
                            <h4 class="text-white font-weight-medium">Marketing</h4>
                            <span>100 Courses</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/cat-6.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="research.html">
                            <h4 class="text-white font-weight-medium">Research</h4>
                            <span>100 Courses</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/cat-7.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="contentWriting.html">
                            <h4 class="text-white font-weight-medium">Content Writing</h4>
                            <span>100 Courses</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="cat-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/cat-8.jpg' %}" alt="">
                        <a class="cat-overlay text-white text-decoration-none" href="seo.html">
                            <h4 class="text-white font-weight-medium">SEO</h4>
                            <span>100 Courses</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category Start -->


    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <h1>Our Popular Courses</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-1.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Data Analytics</a>
                                <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$39</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-2.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Data Science</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$39</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href=""style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">AI</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-4.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href=""style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Machine Learning</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$39</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-5.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href=""style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Big Data</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$39</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-6.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href=""style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Cloud Computing</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$48</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-1.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Project Management</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-2.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Business Intelligence</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">DevOPS & Software Engineering</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-4.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Cybersecurity</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-5.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Digital Marketing& E-Commerce</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$39</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-3.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">Java</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-6.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">C and C ++</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-4.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">C#</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$39</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-6.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">NoSQL</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <img class="img-fluid" src="{% static 'img/course-1.jpg' %}" alt="">
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>25 Students</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>1 Month</small>
                            </div>
                            <a class="h5" href="" style="text-decoration: none;" onmouseover="this.style.color='#82c227';" onmouseout="this.style.color='grey';">CSS, Javascript, HTML</a>
                            <p>Short course description, short course description, short course description, short course description</p>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                    <h5 class="m-0">$49</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Courses End -->

    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Need Any Courses</h5>
                        <h1 class="text-white">30% Off For New Students</h1>
                    </div>
                    <p class="text-white">Signing up for our bonus courses at Kusimba opens doors to skill diversification. These additional courses are carefully curated to complement your primary learning path.</p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Skill Diversification</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Exclusive Learning Opportunities</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Career Advancement and Certification</li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Sign Up Now</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 p-4" placeholder="Your name" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 p-4" placeholder="Your email" required="required" />
                                </div>
                                <div class="form-group">
                                    <select class="custom-select border-0 px-4" style="height: 47px;">
                                        <option selected>Select a course</option>
                                        <option value="1">Data Science</option>
                                        <option value="2">Artificial Intelligence</option>
                                        <option value="3">Software Development</option>
                                    </select>
                                </div>
                                <div>
                                    <button class="btn btn-dark btn-block border-0 py-3" type="submit">Sign Up Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->

    <!-- Check out program guide start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">

                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h1>Checkout the program guide:</h1>
                    </div>
                    <p>Discover for yourself how Kusimba's motto, defines our approach to executive education.</p>
                    <a href="{% static 'img/Placeholder-PDF.pdf'}" target="_blank" class="btn btn-primary" style="color: black; background-color: white; border-color: #82c227;" onmouseover="this.style.backgroundColor='#82c227'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='black';" >View PDF</a>
                    <!-- <button class="btn btn-dark btn-block border-0 py-3" src="{% static 'img/Placeholder-PDF.pdf" target="_blank" style="height: 50px; padding: auto; width: auto;"><a href="{% static 'img/Placeholder-PDF.pdf"></a>View PDF</button> -->
                </div>

                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/cat-1.jpg' %}" alt="">
                </div>


            </div>
        </div>
    </div>
    <!-- Check out program guide End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{% static 'img/carousel-1.jpg' %}" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">Best Education From Your Home</h1>
                            <a href="about.html" class="btn btn-primary" style="color: black; background-color: white; border-color: #82c227;" onmouseover="this.style.backgroundColor='#82c227'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='black';" >Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{% static 'img/carousel-2.jpg' %}" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">Best Online Learning Platform</h1>
                            <a href="about.html" class="btn btn-primary" style="color: black; background-color: white; border-color: #82c227;" onmouseover="this.style.backgroundColor='#82c227'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='black';" >Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="min-height: 300px;">
                    <img class="position-relative w-100" src="{% static 'img/carousel-3.jpg' %}" style="min-height: 300px; object-fit: cover;">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                            <h5 class="text-white text-uppercase mb-md-3">Best Online Courses</h5>
                            <h1 class="display-3 text-white mb-md-4">New Way To Learn From Home</h1>
                            <a href="about.html" class="btn btn-primary" style="color: black; background-color: white; border-color: #82c227;" onmouseover="this.style.backgroundColor='#82c227'; this.style.color='white';" onmouseout="this.style.backgroundColor='white'; this.style.color='black';" >Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Our Blog</h5>
                <h1>Latest From Our Blog</h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-4 mb-4">
                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}" alt="">
                        <a class="blog-overlay text-decoration-none" href="futureOfEducation.html">
                            <h5 class="text-white mb-3">The Future of Education: How E-Learning is Revolutionizing Learning</h5>
                            <p class="text-primary m-0">Mar 01, 2024</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}" alt="">
                        <a class="blog-overlay text-decoration-none" href="tipsOnlineLearning.html">
                            <h5 class="text-white mb-3">Tips for Successful Online Learning</h5>
                            <p class="text-primary m-0">Feb 15, 2024</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{% static 'img/blog-3.jpg' %}" alt="">
                        <a class="blog-overlay text-decoration-none" href="traditionalToDigital.html">
                            <h5 class="text-white mb-3">From Traditional to Digital: The Evolution of Learning Platforms</h5>
                            <p class="text-primary m-0">Jan 01, 2024</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% include 'pages/footer.html' %}
{% endblock content %}
